.venv/
__pycache__/
.pytest_cache/
*.pyc
*.ifc
*.ids
*.json
!frontend/package.json
!frontend/package-lock.json
*.html
frontend/node_modules/
local_workspaces/
*.idscheck
!.streamlit/config.toml
dist/
